/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.brand {
	font-family: 'Belleza', 'Lucida Grande', 'Lucida Sans', sans-serif;
}

.brand .preamble {
	font-size: 50%;
}

.table {
	width: auto;
	margin: 0px auto;
}

.table td, .table th {
	padding-left: 1em;
	padding-right: 1em;
}

.blue {
	color: #084189 !important;
}

.nav-collapse, .nav-collapse.collapse {
  height: auto;
  overflow: auto;
}

.hero-unit {
	padding-top: 20px;
}

h1 {
	padding-bottom: .5em;
}

h2 {
	text-align: center;
}

.portrait {
	float: right;
	padding-left: 20px;
	padding-bottom: 20px;
}

p {
	text-align: justify;
}

figcaption {
	font-style: italic;
	text-align: center;
}

@media (max-width: 768px) {
	body {
		padding: 3px !important;
	}
	.navbar-fixed-top {
		margin: 0 0 5px 0;
	}
	.hero-unit {
		margin: 0 0 5px 0;
		padding: 5px;
	}
	h1 div {
		font-size: 50%;
	}
	.hero-unit p {
		font-size: 120%;
		line-height: 120%;
	}
}
